body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-height: 100vh;
  overflow: hidden;
  padding-bottom: 0;
}

.main {
  flex: 1; /* занимает всё оставшееся место */
  height: calc(100dvh - 165px);
}

.video {
  position: relative;
  height: 100%;

}

.swiper {
  padding-top: 24px;
  padding-bottom: 36px;
  width: 100%;
  /*height: 704px;*/
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.swiper-slide {
  width: 50.6%;
  max-width: 456px;
  height: 100%;
  border-radius: 32px;
  margin: auto;
}

.swiper-slide-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.like {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  bottom: 16px;
  left: 16px;
  z-index: 2;
  cursor: pointer;
}

.like__icon-wrapper .heart:default {
  transition: 0.2s ease-in-out all;
}

.like__icon-wrapper:hover .heart {
  stroke: #B90028;
  transition: 0.2s ease-in-out all;
}

.liked {
  stroke: #B90028;
  fill: #B90028;
  transition: 0.2s ease-in-out all;
}

.like__count {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.volume-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background: url('../img/volume_off.svg') center/contain no-repeat;
  opacity: 0.7;
  cursor: pointer;
  z-index: 10;
}

.volume-toggle.unmuted {
  background: url('../img/volume_up.svg') center/contain no-repeat;
}


.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%; /* центр контейнера */
  transform: translateY(-50%);
  margin-left: calc(456px / 2 + 26px); /* половина ширины слайда + отступ */
  z-index: 1;
}

.swiper-button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B90028;
  border-radius: 50%;
  transition: 0.3s ease-in-out all;
}

.status {
  position: absolute;
  right: 24px;
  bottom: 24px;
  width: clamp(24rem, 22.2692rem + 6.9231vw, 28.5rem);
  border-radius: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12);
  background: #efeded;
  padding: 19px;
}

.status__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.status__spinner {
  animation: spin 2s linear infinite;
}

.status__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.status__title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #000;
}

.status__description {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #000;
  opacity: 0.5;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  body {
    height: 100dvh;
  }

  .main {
    height: calc(100dvh - 98px);
  }

  .swiper {
    padding-top: 16px;
  }

  .swiper-slide {
    max-width: 368px;
    width: 100%;
  }

  .button-wrapper {
    display: none;
  }

  .status {
    bottom: 8px;
    right: 50%;
    transform: translate(50%, 0%);
  }
}

@media (max-width: 400px) {
  .status {
    width: 95%;
  }
}
