<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/landing.css">
  </head>
  <body>
    <header class="header container">
      <div class="empty"></div>
      <div class="header__wrapper">
        <a href="#" class="header__link">
          <img src="../img/logo.svg" class="header__logo" alt="Логотип компании LabIndustries">
        </a>
        <button class="header__button button accent_button">
          <span class="header__button-text">Загрузить поздравление</span>
          <img src="../img/icon.svg" alt="Иконка кнопки загрузить поздравления" class="header__button-icon">
        </button>
      </div>
    </header>

    <main class="main container">
      <div class="cover"></div>
      <section class="hero">
        <div class="hero_wrapper">
          <h1 class="hero__title">Загрузи свое
видео-поздравление,
чтобы его увидели другие!
          </h1>
          <button class="hero__button button">Загрузить поздравление</button>
          <img src="../img/hero.svg" alt="Картинка мужчины с телефоном" class="hero__img">
        </div>
      </section>
      <section class="info">
        <h2 class="info__title">Как это работает?</h2>
        <ul class="info__cards list">
          <li class="list__item">
            <article class="list__item-card card">

            </article>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
