<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная</title>
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/landing.css">
  </head>
  <body>
    <header class="header container">
      <div class="empty"></div>
      <div class="header__wrapper">
        <a href="#" class="header__link">
          <img src="../img/logo.svg" class="header__logo" alt="Логотип компании LabIndustries">
        </a>
        <button class="header__button button accent_button">
          <span class="header__button-text">Загрузить поздравление</span>
          <img src="../img/icon.svg" alt="Иконка кнопки загрузить поздравления" class="header__button-icon">
        </button>
      </div>
    </header>

    <main class="main container">
      <div class="cover"></div>
      <section class="hero">
        <div class="hero_wrapper">
          <h1 class="hero__title">Загрузи свое
видео-поздравление,
чтобы его увидели другие!
          </h1>
          <button class="hero__button button">Загрузить поздравление</button>
          <img src="../img/hero.svg" alt="Картинка мужчины с телефоном" class="hero__img">
        </div>
      </section>
      <section class="info">
        <h2 class="info__title">Как это работает?</h2>
        <ul class="info__cards list">
          <li class="list__item">
            <article class="list__item-card card">
              <div class="card__mark">
                <img src="../img/1.svg" class="card_-mark-number" alt="Картинка номера карточки">
              </div>
              <h2 class="card__title card__title-first">Сними видео-поздравление
в честь юбилея компании
в произвольной форме.</h2>
              <p class="card__description card__description-first">Съемка возможна в
вертикальном или
горизонтальном форматах,
хронометражем до 60
секунд. Создадим
праздник вместе!</p>
              <p class="card__description card__description-first mobile">Съемка возможна в
вертикальном или
горизонтальном форматах,
хронометражем до 60 секунд.
Создадим праздник вместе!</p>
              <img src="../img/first_card_img.svg" class="card__img card__img-first" alt="Картинка мужчины с телефоном">
              <img src="../img/first_card_img_mobile.svg" class="card__img card__img-first mobile" alt="Картинка мужчины с телефоном">
            </article>
          </li>

          <li class="list__item">
            <article class="list__item-card card">
              <div class="card__mark">
                <img src="../img/2.svg" class="card_-mark-number" alt="Картинка номера карточки">
              </div>
              <h2 class="card__title card__title-second">Опубликуй видео-
поздравление</h2>
              <p class="card__description card__description-second">Опубликуй свое видео-
поздравление через
личный кабинет и
подожди, пока оно
пройдет модерацию</p>
              <p class="card__description card__description-second mobile">Опубликуй свое видео-
поздравление через
личный кабинет и подожди,
пока оно пройдет
модерацию</p>
              <img src="../img/second_card_img.svg" class="card__img card__img-second" alt="Картинка мужчины с телефоном">
              <img src="../img/second_card_img_mobile.svg" class="card__img card__img-second mobile" alt="Картинка мужчины с телефоном">
            </article>
          </li>

          <li class="list__item">
            <article class="list__item-card card">
              <div class="card__mark">
                <img src="../img/3.svg" class="card_-mark-number" alt="Картинка номера карточки">
              </div>
              <h2 class="card__title card__title-third">Смотри видео-
поздравления</h2>
              <p class="card__description card__description-third">Смотри поздравления других
сотрудников. Ставь лайки
лучшим роликам!</p>
              <p class="card__description card__description-third mobile">Смотри поздравления
других сотрудников. Ставь
лайки лучшим роликам!</p>
              <img src="../img/third_card_img.svg" class="card__img card__img-third" alt="Картинка мужчины с телефоном">
              <img src="../img/third_card_img_mobile.svg" class="card__img card__img-third mobile" alt="Картинка мужчины с телефоном">
            </article>
          </li>
        </ul>
        <button class="info__button button accent_button">
          Загрузить поздравление
        </button>
        <div class="info__slogan">
          <img src="../img/slogan.svg" class="info__slogan-img" alt="Картинка с текстом Создаем Будущее Вместе">
        </div>
      </section>
    </main>
  </body>
</html>
