<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Авторизация</title>
  <link rel="stylesheet" href="../fonts/fonts.css">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/video.css">
</head>
<body>
<header class="header container">
  <div class="header__wrapper">
    <a href="#" class="header__link">
      <img src="../img/logo.svg" class="header__logo" alt="Логотип компании LabIndustries">
    </a>
    <button class="header__button button accent_button">
      <span class="header__button-text">Загрузить поздравление</span>
      <img src="../img/icon.svg" alt="Иконка кнопки загрузить поздравления" class="header__button-icon">
    </button>
  </div>
</header>
<main class="main container">
  <!-- Slider main container -->
  <section class="video">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" data-videoId="1">
          <video class="swiper-slide-video" playsinline muted autoplay loop src="../files/video.mp4"></video>
          <div class="like">
            <svg class="like__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <foreignObject x="-16" y="-16" width="64" height="64">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(8px);clip-path:url(#bgblur_0_42_724_clip_path);height:100%;width:100%"></div>
              </foreignObject>
              <g class="like__icon-wrapper" data-figma-bg-blur-radius="16">
                <rect width="32" height="32" rx="16" fill="white" fill-opacity="0.15" />
                <path class="like__icon-core heart"  d="M10.7762 11.6632C12.6539 10.566 14.2919 11.0083 15.2754 11.7112C15.6779 12.0009 15.8809 12.1449 15.9999 12.1449C16.1189 12.1449 16.3202 12.0009 16.7244 11.7112C17.7079 11.0083 19.3459 10.566 21.2237 11.6632C23.6876 13.1032 24.2441 17.8502 18.5637 21.8548C17.4787 22.6177 16.9397 23 15.9999 23C15.0602 23 14.5194 22.6177 13.4379 21.8548C7.75571 17.8502 8.31221 13.1015 10.7762 11.6632Z" stroke="white" stroke-width="2" stroke-linecap="round" />
              </g>
              <defs>
                <clipPath id="bgblur_0_42_724_clip_path" transform="translate(16 16)">
                  <rect width="32" height="32" rx="16" />
                </clipPath>
              </defs>
            </svg>
            <span class="like__count">123</span>
          </div>
          <div class="volume-toggle" title="Включить/выключить звук"></div>
        </div>
        <div class="swiper-slide" data-videoId="1">
          <video class="swiper-slide-video" playsinline muted autoplay loop src="../files/video.mp4"></video>
          <div class="like">
            <svg class="like__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <foreignObject x="-16" y="-16" width="64" height="64">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(8px);clip-path:url(#bgblur_0_42_724_clip_path);height:100%;width:100%"></div>
              </foreignObject>
              <g class="like__icon-wrapper" data-figma-bg-blur-radius="16">
                <rect width="32" height="32" rx="16" fill="white" fill-opacity="0.15" />
                <path class="like__icon-core heart"  d="M10.7762 11.6632C12.6539 10.566 14.2919 11.0083 15.2754 11.7112C15.6779 12.0009 15.8809 12.1449 15.9999 12.1449C16.1189 12.1449 16.3202 12.0009 16.7244 11.7112C17.7079 11.0083 19.3459 10.566 21.2237 11.6632C23.6876 13.1032 24.2441 17.8502 18.5637 21.8548C17.4787 22.6177 16.9397 23 15.9999 23C15.0602 23 14.5194 22.6177 13.4379 21.8548C7.75571 17.8502 8.31221 13.1015 10.7762 11.6632Z" stroke="white" stroke-width="2" stroke-linecap="round" />
              </g>
              <defs>
                <clipPath id="bgblur_0_42_724_clip_path" transform="translate(16 16)">
                  <rect width="32" height="32" rx="16" />
                </clipPath>
              </defs>
            </svg>
            <span class="like__count">123</span>
          </div>
          <div class="volume-toggle" title="Включить/выключить звук"></div>
        </div>
        <div class="swiper-slide" data-videoId="1">
          <video class="swiper-slide-video" playsinline muted autoplay loop src="../files/video.mp4"></video>
          <div class="like">
            <svg class="like__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <foreignObject x="-16" y="-16" width="64" height="64">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(8px);clip-path:url(#bgblur_0_42_724_clip_path);height:100%;width:100%"></div>
              </foreignObject>
              <g class="like__icon-wrapper" data-figma-bg-blur-radius="16">
                <rect width="32" height="32" rx="16" fill="white" fill-opacity="0.15" />
                <path class="like__icon-core heart"  d="M10.7762 11.6632C12.6539 10.566 14.2919 11.0083 15.2754 11.7112C15.6779 12.0009 15.8809 12.1449 15.9999 12.1449C16.1189 12.1449 16.3202 12.0009 16.7244 11.7112C17.7079 11.0083 19.3459 10.566 21.2237 11.6632C23.6876 13.1032 24.2441 17.8502 18.5637 21.8548C17.4787 22.6177 16.9397 23 15.9999 23C15.0602 23 14.5194 22.6177 13.4379 21.8548C7.75571 17.8502 8.31221 13.1015 10.7762 11.6632Z" stroke="white" stroke-width="2" stroke-linecap="round" />
              </g>
              <defs>
                <clipPath id="bgblur_0_42_724_clip_path" transform="translate(16 16)">
                  <rect width="32" height="32" rx="16" />
                </clipPath>
              </defs>
            </svg>
            <span class="like__count">123</span>
          </div>
          <div class="volume-toggle" title="Включить/выключить звук"></div>
        </div>
        <div class="swiper-slide" data-videoId="1">
          <video class="swiper-slide-video" playsinline muted autoplay loop src="../files/video.mp4"></video>
          <div class="like">
            <svg class="like__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <foreignObject x="-16" y="-16" width="64" height="64">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(8px);clip-path:url(#bgblur_0_42_724_clip_path);height:100%;width:100%"></div>
              </foreignObject>
              <g class="like__icon-wrapper" data-figma-bg-blur-radius="16">
                <rect width="32" height="32" rx="16" fill="white" fill-opacity="0.15" />
                <path class="like__icon-core heart"  d="M10.7762 11.6632C12.6539 10.566 14.2919 11.0083 15.2754 11.7112C15.6779 12.0009 15.8809 12.1449 15.9999 12.1449C16.1189 12.1449 16.3202 12.0009 16.7244 11.7112C17.7079 11.0083 19.3459 10.566 21.2237 11.6632C23.6876 13.1032 24.2441 17.8502 18.5637 21.8548C17.4787 22.6177 16.9397 23 15.9999 23C15.0602 23 14.5194 22.6177 13.4379 21.8548C7.75571 17.8502 8.31221 13.1015 10.7762 11.6632Z" stroke="white" stroke-width="2" stroke-linecap="round" />
              </g>
              <defs>
                <clipPath id="bgblur_0_42_724_clip_path" transform="translate(16 16)">
                  <rect width="32" height="32" rx="16" />
                </clipPath>
              </defs>
            </svg>
            <span class="like__count">123</span>
          </div>
          <div class="volume-toggle" title="Включить/выключить звук"></div>
        </div>
        <div class="swiper-slide" data-videoId="1">
          <video class="swiper-slide-video" playsinline muted autoplay loop src="../files/video.mp4"></video>
          <div class="like">
            <svg class="like__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <foreignObject x="-16" y="-16" width="64" height="64">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(8px);clip-path:url(#bgblur_0_42_724_clip_path);height:100%;width:100%"></div>
              </foreignObject>
              <g class="like__icon-wrapper" data-figma-bg-blur-radius="16">
                <rect width="32" height="32" rx="16" fill="white" fill-opacity="0.15" />
                <path class="like__icon-core heart"  d="M10.7762 11.6632C12.6539 10.566 14.2919 11.0083 15.2754 11.7112C15.6779 12.0009 15.8809 12.1449 15.9999 12.1449C16.1189 12.1449 16.3202 12.0009 16.7244 11.7112C17.7079 11.0083 19.3459 10.566 21.2237 11.6632C23.6876 13.1032 24.2441 17.8502 18.5637 21.8548C17.4787 22.6177 16.9397 23 15.9999 23C15.0602 23 14.5194 22.6177 13.4379 21.8548C7.75571 17.8502 8.31221 13.1015 10.7762 11.6632Z" stroke="white" stroke-width="2" stroke-linecap="round" />
              </g>
              <defs>
                <clipPath id="bgblur_0_42_724_clip_path" transform="translate(16 16)">
                  <rect width="32" height="32" rx="16" />
                </clipPath>
              </defs>
            </svg>
            <span class="like__count">123</span>
          </div>
          <div class="volume-toggle" title="Включить/выключить звук"></div>
        </div>
        <div class="swiper-slide" data-videoId="1">
          <video class="swiper-slide-video" playsinline muted autoplay loop src="../files/video.mp4"></video>
          <div class="like">
            <svg class="like__icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <foreignObject x="-16" y="-16" width="64" height="64">
                <div xmlns="http://www.w3.org/1999/xhtml" style="backdrop-filter:blur(8px);clip-path:url(#bgblur_0_42_724_clip_path);height:100%;width:100%"></div>
              </foreignObject>
              <g class="like__icon-wrapper" data-figma-bg-blur-radius="16">
                <rect width="32" height="32" rx="16" fill="white" fill-opacity="0.15" />
                <path class="like__icon-core heart"  d="M10.7762 11.6632C12.6539 10.566 14.2919 11.0083 15.2754 11.7112C15.6779 12.0009 15.8809 12.1449 15.9999 12.1449C16.1189 12.1449 16.3202 12.0009 16.7244 11.7112C17.7079 11.0083 19.3459 10.566 21.2237 11.6632C23.6876 13.1032 24.2441 17.8502 18.5637 21.8548C17.4787 22.6177 16.9397 23 15.9999 23C15.0602 23 14.5194 22.6177 13.4379 21.8548C7.75571 17.8502 8.31221 13.1015 10.7762 11.6632Z" stroke="white" stroke-width="2" stroke-linecap="round" />
              </g>
              <defs>
                <clipPath id="bgblur_0_42_724_clip_path" transform="translate(16 16)">
                  <rect width="32" height="32" rx="16" />
                </clipPath>
              </defs>
            </svg>
            <span class="like__count">123</span>
          </div>
          <div class="volume-toggle" title="Включить/выключить звук"></div>
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div class="button-wrapper">
        <div class="button-prev swiper-button accent_button">
          <img src="../img/button_prev_img.svg" alt="Картинка кнопки предыдущее видео">
        </div>
        <div class="button-next swiper-button accent_button">
          <img src="../img/button_next_img.svg" alt="Картинка кнопки следующее видео">
        </div>
      </div>
    </div>

  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="../js/video.js"></script>
</body>
</html>
